@import  url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

/*초기화*/
*{
    margin: 0;
    padding: 0;    
}
ul, ol {list-style: none;}
a {text-decoration: none; color:#111;}

#container {
    width: 1200px;
    height: auto;
    margin: 0 auto;    
}

header {
    width: 100%;
    height: 100px;
    background: #0077cc;
}

header > .logo {
    float: left;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    color: #fff;
    text-shadow: 0 -1px 0 #222;
    margin: 16px;
}

header > nav {
    position: relative;
    float: right;
    width: 900px;
    height: 100px;
}

header > nav > ul > li {
    float: left;
    width: 200px;
    height: 60px;

}

header > nav > ul > li > a {
    display: block;
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

header > nav > ul > li > a:hover {
    color: #111;
}

header > nav > ul span {
    margin-left: 10px;
}

header > nav ol {
    display: none;
}
header > nav ol > li {}
header > nav ol > li > a {}

main {
    width: 100%;
    height: auto;
}

#slideShow > section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;    
}

#slideShow > section > img {
    position: absolute;
}

#slideShow > section > img:nth-child(1) {left: 0; top: 0;}
#slideShow > section > img:nth-child(2) {left: 100%; top: 0;}
#slideShow > section > img:nth-child(3) {left: 200%; top:0;}

#slideShow > button {
    position: absolute;
    padding: 20px;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

#slideShow > button:hover {
    background-color: #222;
    opacity: 0.5;
    cursor: pointer;
    color: #fff;
}

#contents {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#tabMenu {
    float: left;
    width: 600px;
    height: 300px;
    padding-top: 20px;
    box-sizing: border-box;
}

#tabMenu > label {
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid #ddd;
    background: #eee;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;

}

#tabMenu > label > input[type=radio] {
    display: none;
}

#tabMenu > label.on {
    color: #bb0000;

}

#tabMenu > section {
    position: relative;
    width: 100%;
    height: 246px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
}

#tabMenu > section> article {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#tabMenu > section > article.on {display:block;}

#tabMenu > section ul {
    list-style: disc;
    margin-left: 36px;
    margin-top: 26px;
}

#tabMenu > section ul > li {
    margin-bottom: 12px;    
}

#tabMenu > section ul a {
    font-size: 16px;
}
#tabMenu > section ol {}
#tabMenu > section ol > li {}
#tabMenu > section ol a {}
#tabMenu > section ol img {}

#links {
    float: left;
    width: 600px;
    height: 300px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 100px;
}